@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h4>Add a new Animal</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  
  @Html.LabelFor(model => model.Gender)
  @Html.TextBoxFor(model => model.Gender)

  @Html.LabelFor(model => model.DateOfAdmittance)
  @Html.EditorFor(model => model.DateOfAdmittance, new { @type = "date" })

  @Html.LabelFor(model=> model.Breed)
  @Html.TextBoxFor(model => model.Breed)

  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)

  <input type="submit" value="Add new Animal" />
}